<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🛣️ PwC's NJ Product Profiler</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='cube.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
  <header class="site-header">
    <div class="container">
      <div class="header-content">
        <h1 class="site-title">🛣️ PwC's NJ Product Profiler</h1>
        <nav class="site-nav">
          <a href="{{ url_for('products') }}" class="nav-link">Summary List</a>
          <a href="{{ url_for('detailed_products_list') }}" class="nav-link">Detailed Products List</a>
        </nav>
      </div>
    </div>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>